@font-face {
    font-family: 'Gobold Bold';
    src: url('../fonts/Gobold Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold Uplow';
    src: url('../fonts/Gobold Uplow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kenyan Coffee';
    src: url('../fonts/kenyan coffee.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Takota';
    src: url('../fonts/Takota.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}