@import 'fonts';
$kenyan: 'Kenyan Coffee', sans-serif;
$gobold: 'Gobold Bold', sans-serif;
$gobold-uplow: 'Gobold Uplow', sans-serif;
$takota: 'Takota', sans-serif;

body {
    background-image: url('/img/bg.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    min-height: 100vh;
}

.home {
    padding: 20px;

    &__container {}

    &__title {
        font-family: $takota;
        font-size: 30px;
        color: #fff;
    }

    &__description {
        font-family: $gobold;
        font-size: 16px;
        color: #fff;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        row-gap: 20px;

        a {
            width: 100%;
        }

        button {
            font-family: $gobold-uplow;
            font-size: 1.2rem;
            color: #030c25;
            background-color: #f6f9f9;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s;
            width: 100%;

            &:hover {
                background-color: #030c25;
                color: #f6f9f9;
            }
        }
    }
}

.back {
    display: flex;
    align-items: center;

    a {
        font-family: $takota;
        font-size: 18px;
        color: #f6f9f9;
        text-decoration: none;
        cursor: pointer;
        display: flex;

        svg {
            margin-right: 5px;
        }
    }
}

.pre {
    padding: 20px;

    &__container {
        margin-top: 40px;
    }

    &__options {
        form {
            display: flex;
            flex-direction: column;

            label {
                font-family: $gobold;
                font-size: 16px;
                color: #f6f9f9;
                margin-bottom: 5px;
            }

            input,
            select {
                font-family: $gobold;
                font-size: 16px;
                padding: 6px 3px;
                border-radius: 3px;
                border: none;
                width: 100%;
                background-color: #f6f9f9;
                margin-bottom: 10px;
            }

            button {
                font-family: $gobold-uplow;
                font-size: 1.2rem;
                color: #030c25;
                background-color: #f6f9f9;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                transition: all 0.3s;
                width: 100%;
                margin-top: 20px;

                &:hover {
                    background-color: #030c25;
                    color: #f6f9f9;
                }
            }
        }
    }

    &__poster {
        background: url('/img/pre/bg.jpg') no-repeat center center;
        width: 1200px;
        height: 1200px;
        position: relative;
        margin-top: 40px;

        &__competition {
            font-family: $gobold-uplow;
            font-size: 19.55px;
            color: #f6f9f9;
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            text-transform: uppercase;
            letter-spacing: 6px;
        }

        &__team {
            font-family: $gobold;
            font-size: 35px;
            color: #f5b136;
            position: absolute;
            top: 71.8%;
            left: 25.8%;
            text-transform: uppercase;
            letter-spacing: -1px;
            z-index: 2;

            span {
                font-family: $takota;
                color: #f6f9f9;
            }
        }

        &__date {
            font-family: $kenyan;
            text-transform: uppercase;
            font-size: 50px;
            color: #1a1a1a;
            position: absolute;
            top: 86.6%;
            left: 1.7%;
            letter-spacing: 0.4px;
        }

        &__time {
            font-family: $kenyan;
            text-transform: uppercase;
            font-size: 50px;
            color: #1a1a1a;
            position: absolute;
            top: 86.6%;
            left: 19.5%;
            letter-spacing: 0.4px;
        }

        &__location {
            font-family: $kenyan;
            text-transform: uppercase;
            font-size: 28px;
            color: #1a1a1a;
            position: absolute;
            top: 92.2%;
            left: 1.7%;
            letter-spacing: 0.3px;
        }

        &__player {
            max-width: 650px;
            max-height: 770px;
            position: absolute;
            top: 13%;
            left: 23%;
            z-index: 1;
            display: flex;
            justify-content: center;
        }

        &__e {
            position: absolute;
            top: 43.7%;
            left: 54.5%;
            z-index: 2;
        }
    }
}

.team {
    padding: 20px;
}

.scores {
    padding: 20px;
}